body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("./img/background_principal.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
 }
   
      
.container {
     text-align: center;
     padding: 20px;
}
   
.page-logo {
     width: 300px;
     position: absolute;
     top: 0;
}
   
.page-title {
     color: #ffffff;
     margin: 0 0 5px;
     font-size: 25px;
}
   
 
.agp-logo {
    width: 200px;
    margin-bottom: 20px;
   
}

 
#assinaturaCriada img {
    position: relative;
    top: 50px;
    margin: 10px;
    max-height: 300px;
}
   
#assinaturaCriada {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
   
.form-wrapper {
     margin: 0 0 15px;
     display: flex;
     flex-direction: column;
     max-width: 300px;
     margin: 0 auto;
}
   
.form-wrapper input {
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
}
   
.form-wrapper button {
    padding: 10px;
     border: none;
     border-radius: 5px;
     background-color: #007bff;
     color: white;
     font-size: 16px;
     cursor: pointer;
     transition: background-color 0.3s ease;
}
   
.form-wrapper button:hover {
     opacity: 0.8;
}
   
button:hover {
    background-color: #da190b; /* Dark Red */
    color: white;
}

.download-button{
    display: block;
    margin-top: 5%;
    margin-left: 32%;
    width: 20%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.download-button:hover {
    background-color: #da190b;
}
   
.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Gilroy-bold';
    src: url('fonts/gilroy-bold.otf') format('opentype');
}

@font-face {
    font-family: 'Gilroy-light';
    src: url('fonts/gilroy-light.otf') format('opentype');
}
   
   

   
   


   