body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("./img/background_principal.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
 }
   
      
.container {
     text-align: center;
     padding: 20px;
}
   
.page-logo {
     width: 300px;
     position: absolute;
     top: 0;
}
   
.page-title {
     color: #ffffff;
     margin: 0 0 5px;
     font-size: 25px;
}
   
 
.agp-logo {
    width: 200px;
    margin-bottom: 20px;
   
}

 
#assinaturaCriada img {
    position: relative;
    top: 50px;
    margin: 10px;
    max-height: 300px;
}
   
#assinaturaCriada {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
   
.form-wrapper {
     margin: 0 0 15px;
     display: flex;
     flex-direction: column;
     max-width: 300px;
     margin: 0 auto;
}
   
.form-wrapper input {
    background-color: rgb(92, 89, 89);
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
     color: white;
     border: none;
}
   
.form-wrapper button {
    padding: 10px;
     border: none;
     border-radius: 5px;
     background-color: #020202;
     color: white;
     font-size: 16px;
     cursor: pointer;
     transition: background-color 0.3s ease;
}
   
.form-wrapper button:hover {
     opacity: 0.8;
}
   
button:hover {
    background-color: #da190bd7; /* Dark Red */
    color: white;
}

.download-button{
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    width: 30%;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #020202;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #da190b;
    opacity: 0.8;
}
   
.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#profilePhoto {
    width: 96%;
     padding: 5px;
     border: none;
     border-radius: 5px;
     background-color: rgb(92, 89, 89);
     color: white;
     font-size: 16px;
     transition: background-color 0.3s ease;
     cursor: pointer;
}


.checkbox-label {
    align-items: center;
    display: block;
    margin-bottom: 1px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    height: 40px;
    cursor: pointer;

}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #070606;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
  }

  /* Estilizando quando a checkbox está marcada */
  input[type="checkbox"]:checked {
    background-color: black;
    border-color: #da190b;
  }
  
  
/* Estilizando o marcador (símbolo) da checkbox quando está marcada */
  input[type="checkbox"]:checked::after {
    content: "\2713"; /* Símbolo de marca de seleção */
    font-size: 14px;
    color: rgb(253, 247, 247);
    text-align: center;
    line-height: 20px;
  }

.profile-photo-selection {
    display: none;
    cursor: pointer;
}

#lojaSelecionada {
     color: black;
     padding: 10px;
     border: none;
     border-radius: 5px;
     background-color: rgb(92, 89, 89);
     color: white;
     font-size: 16px;
     transition: background-color 0.3s ease;
     margin-bottom: 7px;
     cursor: pointer;
}



@font-face {
    font-family: 'Gilroy-bold';
    src: url('fonts/gilroy-bold.otf') format('opentype');
}

@font-face {
    font-family: 'Gilroy-light';
    src: url('fonts/gilroy-light.otf') format('opentype');
}
   
   

   
   


   